.main__center__bottom__table{
    width: 100%;
    height: auto;
    color: rgb(219, 218, 218);
    font-size: 13px;
    border-collapse: collapse
}
th{
    text-align:center ;
}
tr , th ,td{
    padding:2px ;
}