.main__center__bottom{
    overflow: auto;
}
.main__center__bottom__table{
    width: 100%;
    height: auto;
    color: rgb(219, 218, 218);
    font-size: 12px;
    border-collapse: collapse ;
}
.main__center__bottom__table tr:nth-child(even){
    background : rgb(68, 68, 68) ;
}
th{
    text-align:center ;
}
tr , th ,td{
    padding:2px ;
    text-align:center ;
}