.main__center__top__table{
    width:100% ;
    height: auto;
    color :#fff ;
    font-size: 13px;
    border-collapse: collapse;
}
tr , th , td{
    border-bottom: 1px solid #444 ;
    padding:2px ;
}
th{
    text-align:center ;
}